.headerContainer {
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 10px;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}

@media (min-width: 767px) {
  .header {
    max-width: 900px;
  }
}

@media (min-width: 1024px) {
  .headerContainer {
    border: 0;
  }
  .header {
    max-width: 1280px;
  }

  .logoContainer {
    justify-content: flex-start;
    /* width: 100%; */
  }
}
