* {
  margin: 0;
  padding: 0;
}

.ProductEditor {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  margin-bottom: 10px;
  padding-top: 10px;
  width: auto;
  height: 82px;
}

.ProductEditorLabel {
  display: inline-block;
  margin-right: 20px;
  font-style: normal;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 17px;
  font-size: 14px;
  color: #9b9faa;
  cursor: pointer;
}

.Otstup {
  margin-bottom: 40px;
}

.ProductEditorButton {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 44px;
  padding: 13px 46px;
  font-weight: bold;
  font-family: Verdana;
  color: #ffffff;
  background-color: #fc842d;
  border: 0;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-in-out;
}

.ProductEditorButton:hover {
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  background-color: #f18538;
}

.ProductEditorErrorMsg {
  position: absolute;
  display: block;
  font-size: 8px;
  color: #bd0404;
}

@media (min-width: 767px) {
  .ProductEditor {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 605px;
  }

  .ProductEditorLabel,
  .Otstup {
    margin-bottom: 0;
  }

  .Otstup {
    margin-bottom: 0 auto;
  }

  .ProductEditorButton {
    /* Ellipse 6 */
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    padding: 0;
    width: 50px;
    height: 50px;
    background: #fc842d;
    color: #ffffff;
    font-size: 16px;
  }
}
