.ProductEditor {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 15px;
  width: 290px;
  height: 82px;
}

.ProductEditorLabel {
  display: inline-block;
  margin-bottom: 16px;
  font-style: normal;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 17px;
  font-size: 14px;
  color: #9b9faa;
  cursor: pointer;
}

.ProductEditorInput {
  width: 289px;
  min-height: 26px;
  color: #212121;
  font: inherit;

  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  cursor: text;
  outline: 0;
}

.ProductEditorInput::placeholder {
  font-style: normal;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 17px;
  font-size: 14px;
  color: #9b9faa;
  cursor: pointer;
}

.ProductEditorInput:focus:invalid {
  border-bottom: 1px solid #fc842d;
}

/* .TaskEditorInput:required:valid {
  border-bottom: rgb(0, 255, 0);
} */
.Otstup {
  margin-bottom: 40px;
}
.ProductEditorButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 13px 46px;

  /* width: 176px; */
  height: 44px;

  font-weight: bold;
  font-family: Verdana;
  color: #ffffff;
  background-color: #fc842d;
  border: 0;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-in-out;
}

.ProductEditorButton:hover {
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  background-color: #f18538;
}

@media (min-width: 767px) {
  .ProductEditor {
    flex-direction: row;
    justify-content: center;
    width: 474px;
    height: 50px;
  }

  .ProductEditorLabel,
  .Otstup {
    margin-bottom: 0;
  }

  .ProductEditorInput {
    width: auto;
    min-height: 26px;
    margin-right: 15px;
  }

  .ProductEditorInputName {
    width: 240px;
  }

  .ProductEditorInputKkal {
    width: 104px;
  }

  .Otstup {
    margin-bottom: 0 auto;
  }

  .ProductEditorButton {
    /* Ellipse 6 */
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;

    background: #fc842d;

    color: #ffffff;
    font-size: 16px;
  }
}
