.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 4%;
  background-color: transparent;
}

.name {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e0e0e0;
  text-transform: none;
  padding-right: 15px;
  font-family: GothamProBold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.04em;
}
.logoutButton {
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  font-family: GothamProBold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.logoutButton :hover {
  color: #212121;
}

.exit {
  font-family: inherit;
  font-weight: inherit;
  color: #e0e0e0;
  padding: 12px 15px;
  border: 0;
  text-transform: inherit;
  outline: none;
  cursor: pointer;
}

.exit:hover {
  color: #212121;
}

@media (min-width: 767px) {
  /* .container {
    align-items: center;
    margin-bottom: 0;
  } */
}

@media (min-width: 1024px) {
  .container {
    justify-content: flex-start;
  }

  .link:first-child {
    border-left: 2px solid #e0e0e0;
  }
}
