.container {
  display: flex;
<<<<<<< HEAD
  padding: 0;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: no-wrap;
=======
  justify-content: space-between;
  align-items: center;
>>>>>>> 8aaf7efbfc3b5b57d22171e7d971f07d009fbc3a
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 4%;
<<<<<<< HEAD
  width: 200px;
  height: 40px;
  background-color: transparent;
  text-transform: uppercase;
  margin-right: 50px;
}

.name {
  display: inline-block;
  padding: 12px 15px;
  border-right: 2px solid #e0e0e0;
=======
  background-color: transparent;
  text-transform: uppercase;
  margin-right: 50px;
  margin-left: auto;
}

.name {
  padding: 12px 15px;
  border-right: 2px solid #e0e0e0;
  text-transform: none;
>>>>>>> 8aaf7efbfc3b5b57d22171e7d971f07d009fbc3a
}

.exit {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  color: #e0e0e0;
  padding: 12px 15px;
  background-color: transparent;
  border: 0;
  text-transform: inherit;
<<<<<<< HEAD
  cursor: pointer;
}

=======
  outline: none;
  cursor: pointer;
}

.exit:hover {
  color: #212121;
}

>>>>>>> 8aaf7efbfc3b5b57d22171e7d971f07d009fbc3a
@media (min-width: 767px) {
  /* .container {
    align-items: center;
    margin-bottom: 0;
  } */
}

@media (min-width: 1024px) {
  .container {
    justify-content: flex-start;
<<<<<<< HEAD
    min-height: 100px;
    margin-bottom: 34px;
    align-items: flex-end;
=======
    min-height: 106px;
>>>>>>> 8aaf7efbfc3b5b57d22171e7d971f07d009fbc3a
  }

  .link:first-child {
    border-left: 2px solid #e0e0e0;
  }
}
