.wrapper {
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  max-height: 130px;
  overflow-y: scroll;
  padding: 10px;
}

.wrapper:after {
  content: "";
  width: calc(100% - 6px);
  height: 28px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    #ffffff 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

/* width */
.container::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #f0f1f3;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #264061;
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #264061;
}

 @media (min-width: 768px) {
.container{
  padding: 70px;
  
 }
} 
@media (min-width: 1024px) {
  .container {
    padding: 70px 20px 0px 70px;
    width: 53%;
  }
}

