.wrapperNavigation{
    width: 170px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top:90px;
}
.login{
 
    color: black;
}
.register{
    color: grey;

}