.section {
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background: #f0f1f3;
}
.userInfoContainer {
  display: none;
}
.wrapper1 {
  width: 290px;
  margin: auto;
  padding-bottom: 24px;
}

.ulBox,
.productsBox {
  display: flex;
  justify-content: space-between;
}
.ulBox > ul {
  list-style: none;
  padding: 0;
}
.ulBox > ul > li {
  margin-bottom: 10px;
}
.listBox {
  display: flex;
  flex-direction: column;
}

.ListTitle,
.ProductTitle {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.ListTitle,
.categoryList,
.calorieList,
.ProductTitle,
.products {
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.categoryItems,
.products {
  color: #9b9faa;
}
.listBox,
.wrapper2 {
  width: 270px;
}

@media (min-width: 767px) {
  .section {
    background-color: #f0f1f3;
    background-image: url("./images/tab.png");
  }
  .wrapper1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 605px;
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .ListTitle,
  .ProductTitle {
    padding-bottom: 22px;
  }
  .listBox {
    margin-bottom: 40px;
  }
  .ulBox {
    justify-content: space-between;
  }
  .ulBox > ul {
    margin-right: 25px;
  }
}

@media (min-width: 1024px) {
  .section {
    background-color: #f0f1f3;
    background-image: url("./images/desk.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrapper1 {
    width: 360px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 189px;
    flex-direction: column;
    padding-top: 75px;
    align-items: center;
  }
  .userInfoContainer {
    width: 360px;
    margin: auto;
    padding-top: 50px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }
  .ListTitle,
  .ProductTitle {
    padding-bottom: 22px;
  }
  .listBox {
    padding-bottom: 60px;
  }

  .productsBox {
    width: 270px;
  }
  .categoryList {
    margin-right: 80px;
  }
}
