.container {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoName {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.slim {
  font-size: 21px;
  letter-spacing: 2px;
  font-family: GothamProLight, sans-serif;
  font-weight: 300;
  color: #212121;
  padding: 0;
}

.mom {
  font-size: 21px;
  letter-spacing: 2px;
  font-family: GothamProLight, sans-serif;
  font-weight: 300;
  color: #fc842d;
  padding: 0;
}
@media (min-width: 767px) {
  .slim {
    margin-left: 12px;
  }
  .imgContainer {
    margin-right: 12px;
  }
}
@media (min-width: 1024px) {
  .imgContainer {
    transform: translateY(-10px);
    height: 120px;
    content: url(./images/logo.jpg) !important;
  }
  .logoName {
    display: none;
  }
}
