.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoName {
  display: none;
  font-size: 16px;
}

.slim {
  font-size: 21px;
  letter-spacing: 2px;
  font-family: GothamProLight, sans-serif;
  font-weight: 300;
  color: #212121;
}

.mom {
  font-size: 21px;
  letter-spacing: 2px;
  font-family: GothamProLight, sans-serif;
  font-weight: 300;
  color: #fc842d;
}
@media (min-width: 767px) {
  .imgContainer {
    margin-right: 12px;
  }

  .logoName {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .imgContainer {
    height: 130px;
    content: url(./images/logo.jpg) !important;
  }
  .logoName {
    display: none;
  }
}
