.directionWrapper {
  display: flex;
  flex-direction: column;
}

.componentContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e0e0e0;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.tabletZone {
  display: none;
}

.burgerContainer {
  display: block;
  height: 20px;
}

.greyZone {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  background-color: #eff1f3;
}
.userNavContainer {
  display: none;
}
/* .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
} */
.nagigationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
@media (min-width: 767px) {
  .greyZone {
    display: none;
  }
  .headerContainer {
    width: 605px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .tabletZone {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .componentContainer {
    min-width: 60%;
  }

  .directionWrapper {
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
  .headerContainer {
    justify-content: flex-start;
    padding-top: 50px;
    margin-left: 100px;
  }
  .nagigationWrapper {
    display: none;
  }
  .userNavContainer {
    display: flex;
  }
}
