.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.modal_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  width: 320px;
  margin-top: 80px;
}

.modal_close_button {
  margin: 17px 15px 0 17px;
  border: none;
  outline: none;
  width: 20px;
  height: 13px;
  background: url(./images/back.svg) no-repeat scroll 0 0 transparent;
  color: #000000;
  cursor: pointer;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button_default {
  background: #247ba0;
  color: #fff;
}
@media (min-width: 767px) {
  .modal_overlay {
    background-color: #000;
    opacity: 0.5;
  }
  .modal_header {
    display: flex;
    justify-content: flex-end;
  }
  .modal {
    margin-top: 222px;
    width: 594px;
  }
  .modal_close_button {
    background: url("./images/close.svg") no-repeat scroll 0 0 transparent;
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 690px;

    margin-top: 135px;
  }

  .list {
    margin-left: 160px;
  }
}
