.container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  flex-wrap: no-wrap;
  font-size: 14px;
  /* DRAFT FONT STYLES */
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 4%;
  min-width: 200px;
  height: 100px;
  background-color: transparent;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 700;
  color: #e0e0e0;
}

.activeLink {
  color: #2a363b;
}

@media (min-width: 767px) {
  /* .container {
    align-items: center;
    margin-bottom: 0;
  } */
}

@media (min-width: 1024px) {
  .container {
    justify-content: flex-start;
    margin-bottom: 34px;
    align-items: flex-end;
  }

  .link:first-child {
    border-left: 2px solid #e0e0e0;
  }
}
