.container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
  flex-wrap: no-wrap;
  font-size: 14px;
  /* DRAFT FONT STYLES */
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 4%;
  min-width: 200px;
  height: 100px;
  background-color: transparent;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 700;
  color: #e0e0e0;
}

.activeLink {
  color: #2a363b;
}

@media (min-width: 767px) {
  /* .container {
    align-items: center;
    margin-bottom: 0;
  } */
}

@media (min-width: 1024px) {
  .container {
    justify-content: flex-start;
    margin-bottom: 34px;
    align-items: flex-end;
  }

  .link:first-child {
    border-left: 2px solid #e0e0e0;
  }
}

/* STYLES FROM MICHAEL NAVIGATIN BAR */

nav {
  height: 80px;
  border-bottom: 2px solid #e0e0e0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer > a {
  font-family: GothamProBold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #e0e0e0;
  text-decoration: none;
}
.login {
  /* margin-right: 15px; */
}
.navContainer > a:active {
  color: #212121;
}

.navContainer a :hover {
  color: #212121;
}

/* .active {
  color: #212121;
} */

@media (min-width: 767px) {
  .container {
    padding: 0px 75px;
  }
}

@media (min-width: 1024px) {
  nav {
    padding-top: 30px;
    height: 140px;
    border-bottom: none;
  }

  .container {
    height: 82px;
    justify-content: flex-start;
  }

  .navContainer {
    height: 106px;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    /* border-left: 2px solid #e0e0e0; */
    /* padding-left: 24px; */
  }

  .login > span {
    border-left: 2px solid #e0e0e0;
    padding-left: 24px;
  }
}
